<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="oracle_env">
		<environment id="oracle_env">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="username" value="ddung311"/>
				<property name="password" value="123456789"/>
				<property name="driver" 
					value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" 
					value="jdbc:oracle:thin:@127.0.0.1:1521:ddung311"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cho_jeahyun/myMapper.xml"/>
	</mappers>
</configuration>


















