<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cho_jeahyun.myMapper">
	<select id="selectAllReservation_Info" parameterType="String"
		resultType = "cho_jeahyun.Reservation_Info">
		select * from Reservation_Info
		where cid = #{cid} order by to_date(reservation_date) desc
	</select>

	<select id="selectAllReservation_Info_non" parameterType="cho_jeahyun.Login_info"
		resultType = "cho_jeahyun.Reservation_Info">
		select * from Reservation_Info
		<where>
		<if test="name != null">and name=#{name}</if>
		<if test="phone != null">and phone=#{phone}</if>
		</where>
		order by to_date(reservation_date) desc
	</select>
	<select id="selectAllReservation"
		resultType = "cho_jeahyun.Reservation_Info">
		select * from reservation_info order by order_id desc
	</select>
	<select id="selectAllRoom_info"
		resultType = "cho_jeahyun.Room_info">
		select * from room_info order by order_id
	</select>
	<update id="updateReservation_room" parameterType = "cho_jeahyun.Reservation_Info">
		update reservation_info set roomid = #{roomid}
		where order_id = #{order_id}
	</update>
	<update id="updateReservation_room_null" parameterType = "String">
		update reservation_info set roomid = null
		where order_id = #{order_id}
	</update>
	<update id="updateRoom_info" parameterType = "cho_jeahyun.Room_info">
		update Room_info set order_id = #{order_id},
		check_in_d = #{check_in_d}, check_out_d = #{check_out_d}
		where roomid = #{roomid}
	</update>
	<update id="updateRoom_info_null" parameterType = "Integer">
		update Room_info set order_id = null,
		check_in_d = null, check_out_d = null
		where order_id = #{order_id}
	</update>
	<insert id="insertSales_management" parameterType="cho_jeahyun.Sales_management" >
		insert into Sales_management values(#{order_id},#{benefit},
		#{reservation_date})
	</insert>
	
	<select id="selectReservation" parameterType ="HashMap"
						resultType="cho_jeahyun.Reservation_Info">
		select * from reservation_info
		<where>
		<if test="order_id != null">and order_id=#{order_id}</if>
		<if test="name != null">and name=#{name}</if>
		<if test="phone != null">and phone=#{phone}</if>
		</where>
	</select>
	<select id="selectReservation_Max" resultType="Integer">
		select max(order_id) max_num from reservation_info
	</select>
	<update id="updateReservation_Info_roomid" parameterType = "Integer">
		update reservation_info set roomid = #{roomid},
		where order_id = #{order_id}
	</update>
	
	<insert id="insertReservation_Info_member" parameterType="cho_jeahyun.Reservation_Info" >
		insert into reservation_info(order_id, cid, name, adult, child, phone, rating, total_price,
		reservation_date, check_in_d, check_out_d) values(#{order_id}, #{cid},#{name}, #{adult},#{child},#{phone},
		#{rating},#{total_price},SYSDATE, #{check_in_d}, #{check_out_d})
	</insert>
	
	<insert id="insertReservation_Info_nomember" parameterType="cho_jeahyun.Reservation_Info" >
		insert into reservation_info(order_id, name, adult, child, phone, rating, total_price,
		reservation_date, check_in_d, check_out_d) values(#{order_id},#{name}, #{adult},#{child},#{phone},
		#{rating},#{total_price},SYSDATE, #{check_in_d}, #{check_out_d})
	</insert>
	
	<insert id="insertReservation_cancel" parameterType="cho_jeahyun.Reservation_cancel_info" >
		insert into reservation_cancel values(#{order_id},#{refund},
		#{reservation_date},SYSDATE, 'false')
	</insert>
	
	<update id="updateReservation_cancel" parameterType = "cho_jeahyun.Reservation_cancel_info">
		update Reservation_cancel set check_info = #{check_info}
		where order_id = #{order_id}
	</update>
	<delete id="deleteReservation" parameterType = "Integer">
		delete from Reservation_info where order_id = #{order_id}
	</delete>
	<select id="selectReservation_cancel"
	resultType="cho_jeahyun.Reservation_cancel_info">
		select * from Reservation_cancel
	</select>
	<select id="select_managerLogin" parameterType="cho_jeahyun.Manager_info"
	resultType="cho_jeahyun.Manager_info">
		select * from manager
		where mid = #{mid} and pw = #{pw}
	</select>
	<select id="selectLogin" parameterType="cho_jeahyun.Login_info"
	resultType="cho_jeahyun.Login_info">
		select * from customer
		where cid = #{cid} and pw = #{pw}
	</select>
	<select id="selectAccount" parameterType="String"
	resultType="cho_jeahyun.Login_info">
		select * from customer
		where cid = #{cid}
	</select>
	<select id="selectId" parameterType="cho_jeahyun.Login_info"
	resultType="String">
		select cid from customer
		where email = #{email} and name = #{name}
	</select>
	<select id="selectPw" parameterType="cho_jeahyun.Login_info"
	resultType="String">
		select pw from customer
		where cid = #{cid} and email = #{email}
	</select>
	<select id="selectAllCustomer"
		resultType = "cho_jeahyun.Login_info">
		select * from customer order by cid desc
	</select>
	
	<select id="selectCustomer" parameterType ="HashMap"
						resultType="cho_jeahyun.Login_info">
		select * from customer
		<where>
		<if test="cid != null">and cid=#{cid}</if>
		<if test="name != null">and name=#{name}</if>
		</where>
	</select>
	<insert id="Check_in_t" parameterType="cho_jeahyun.Check_inout">
		insert into check_inout(order_id,check_in_d)
		values(#{order_id}, SYSDATE)
	</insert>
	<update id="Check_out_t" parameterType="cho_jeahyun.Check_inout">
		update check_inout set check_out_d = SYSDATE
		where order_id =#{order_id}
	</update>
	<delete id="deleteCheck_inout" parameterType = "Integer">
		delete from Check_inout where order_id = #{order_id}
	</delete>
	<select id="selectCheck_inout" parameterType ="HashMap"
						resultType="cho_jeahyun.Check_inout">
		select * from check_inout
		<where>
		<if test="order_id != null">and order_id=#{order_id}</if>
		<if test="check_in_d != null">and check_in_d=#{check_in_d}</if>
		<if test="check_out_d != null">and check_out_d=#{check_out_d}</if>
		</where>
	</select>
	
	<select id="selectAllCheck_inout"
		resultType = "cho_jeahyun.Check_inout">
		select * from check_inout order by order_id desc
	</select>
	
	<insert id="insertLogin" parameterType="cho_jeahyun.Login_info" >
		insert into customer values(#{cid},#{pw},
		#{name},#{birthday},#{gender},
		#{email},#{phone},#{address},0)
	</insert>
	<delete id="deleteCustomer" parameterType = "HashMap">
		delete from customer
		<where>
			<if test="cid != null">and cid = #{cid}</if>
			<if test="phone != null">and phone = #{phone}</if>
		</where>
	</delete>
	<update id="updateCustomer" parameterType = "cho_jeahyun.Login_info">
		update customer set name = #{name},
		pw = #{pw},
		birthday = #{birthday},
		gender = #{gender},
		email = #{email},
		address = #{address},
		phone = #{phone}
		where cid = #{cid}
	</update>
	<delete id="deleteSales" parameterType = "Integer">
		delete from sales_management where order_id = #{order_id}
	</delete>
	<select id="selectSales" resultType="cho_jeahyun.Sales_management" parameterType = "Integer" >
		select * from sales_management where order_id = #{order_id}
	</select>
	<select id="selectSalesSum" 	resultType="Integer"
								parameterType="cho_jeahyun.Sales_management">
		select sum(benefit) ben
		from sales_management
		where reservation_date between to_date(#{start_d}, 'YYYY/MM/DD')
		and to_date(#{last_d} || ' 23:59:59', 'YYYY/MM/DD HH24:MI:SS')
		group by to_char(reservation_date, 'yyyy-mm')
		order by to_char(reservation_date, 'yyyy-mm')
	</select>
	<select id="selectSalesAvg"  parameterType="cho_jeahyun.Sales_management"	resultType="Integer">
		select avg(benefit) ben
		from sales_management
		where reservation_date between to_date(#{start_d}, 'YYYY/MM/DD')
		and to_date(#{last_d} || ' 23:59:59', 'YYYY/MM/DD HH24:MI:SS')
		group by to_char(reservation_date, 'yyyy-mm')
		order by to_char(reservation_date, 'yyyy-mm')
	</select>
</mapper>







