<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cho_jeahyun.myMapper">
	<select id="selectAllReservation_Info"
		resultType = "cho_jeahyun.Reservation_Info">
		select * from Reservation_Info order by to_number(order_id) desc
	</select>
	
	<select id="selectLogin" parameterType="cho_jeahyun.Login_info"
	resultType="cho_jeahyun.Login_info">
		select * from customer
		where cid = #{cid} and pw = #{pw}
	</select>
	
	<insert id="insertLogin" parameterType="cho_jeahyun.Login_info" >
		insert into customer values(#{cid},#{pw},
		#{name},#{birthday},#{gender},
		#{email},#{phone},#{address},0)
	</insert>
</mapper>







